<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Variable</th>
      <th scope="col">Pipe code</th>
      <th scope="col">Result</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>{{ name }} </td>
      <td>uppercase </td>
      <td>{{ name | uppercase }} </td>
    </tr>

    <tr>
      <td>{{ name }} </td>
      <td>lowercase </td>
      <td>{{ name | lowercase }} </td>
    </tr>

    <tr>
      <td>{{ name }} </td>
      <td>slice:4 </td>
      <td>{{ name | slice:0:4 }} </td>
    </tr>

    <tr>
      <td>{{ name }} </td>
      <td>slice:4:6 </td>
      <td>{{ name | slice:4:6 }} </td>
    </tr>

    <tr>
      <td>{{ myArray }} </td>
      <td>slice:0:4 </td>
      <td>{{ myArray | slice:0:4 }} </td>
    </tr>

    <tr>
      <td>{{ myArray }} </td>
      <td>*ngFor="let number of myArray | slice:0:3" </td>
      <td>
        <ul>
          <li *ngFor="let number of myArray | slice:0:3">{{ number }} </li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>{{numero}}</td>
      <td>number:'1.0-2'
        <p>1.6789 | number: 'N1.N2-N3'</p>
        <p>N1 = 1 👉 cantidad de números enteros</p>
        <p>N2 = 0 👉 cantidad mínima de números decimales</p>
        <p>N3 = 3 👉 cantidad máxima de números decimales</p>
      </td>
      <td>{{ numero | number:'3.0-2' }} </td>
    </tr>


    <tr>
      <td>{{ myNum }} </td>
      <td>percent</td>
      <td>{{ myNum | percent }} </td>
    </tr>

    <tr>
      <td>{{ myNum }} </td>
      <td>percent:'2.2-2'</td>
      <td>{{ myNum | percent:'2.2-2' }} </td>
    </tr>

    <tr>
      <td>{{ salary }} </td>
      <td>currency:'EUR'</td>
      <td>{{ salary | currency:'EUR' }} </td>
    </tr>

    <tr>
      <td>{{ salary }} </td>
      <td>currency:'EUR':'symbol':'4.0-0'</td>
      <td>{{ salary | currency:'EUR':'symbol':'4.0-0' }} </td>
    </tr>

    <tr>
      <td> {{ nerd }} </td>
      <td>json</td>
      <td><pre>{{ nerd | json }} </pre> </td>
    </tr>

    <tr>
      <td> {{ promiseValue }} </td>
      <td>async</td>
      <td><pre>{{ promiseValue | async }} </pre> </td>
    </tr>

    <tr>
      <td> {{ myDate }} </td>
      <td>date</td>
      <td>
        <pre>{{ myDate | date }} </pre>
      </td>
    </tr>

    <tr>
      <td> {{ myDate }} </td>
      <td>date:'medium'</td>
      <td>
        <pre>{{ myDate | date:'medium' }} </pre>
      </td>
    </tr>

    <tr>
      <td> {{ myDate }} </td>
      <td>date:'EEE, d of LLL of yyyy'</td>
      <td>
        <pre>{{ myDate | date:'EEE, d of LLL of yyyy' }} </pre>
      </td>
    </tr>

  </tbody>
</table>
